.blk{   
    background-color: orange;
    padding: 15px;
    margin: auto;
    text-align: left;
    display: block;
    padding: 12px;
    z-index: -1;
}
img{
    float: left;
    height: 100px;
    
}
body{
    background-color: orchid;

}
nav{
    display: block;
    background-color: #7D1935;
    overflow: hidden;
    padding: 6px;
    margin: 3px; 
    position: -webkit-sticky; 
    position: sticky; 
    top: 0;
   

}
nav a{
    color: white;
    text-decoration: none;
    padding: 5px;
    
    

}

@media only screen and(max-width: 600px)
{
    .small-col-1
    {
        width: 8.33%;
    }
    .small-col-2
    {
        width: 16.66%;
    }
    .small-col-3
    {
        width: 25%;
    }
    .small-col-4
    {
        width: 33.33%;
    }
    .small-col-5
    {
        width: 41.66%;
    }
    .small-col-6
    {
        width: 50%;
    }
    .small-col-7
    {
        width: 58.33%;
    }
    .small-col-8
    {
        width: 66.66%;
    }
    .small-col-9
    {
        width: 75%;
    }
    .small-col-10
    {
        width: 83.33%;
    }
    .small-col-11
    {
        width: 91.66%;
    }
    .small-col-12
    {
        width: 100%;
    }
}